RewriteEngine On

# Allow direct access to existing files and directories
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ public/index.php [L,QSA]

# Deny access to sensitive directories
RewriteRule ^(app|config|database|resources|routes|storage|vendor|cron)(/|$) - [F,L]
Options -Indexes
